/* Define colours */
:root {
    /* light green */
    --lightaccent: #a1ecba;
    /* medium green */
    --darkaccent: #27c45c;
    /* dark grey */
    --background: #121212;
    /* bright white */
    --bigtext: rgb(255, 255, 255, 0.95);
    /* medium white */
    --midtext: rgb(255, 255, 255, 0.80);
    /* dim white */
    --smalltext: rgb(255, 255, 255, 0.60);
  }

body {
    background-color: var(--background);
    font-size: 13px;
}

@font-face {
    /* Font from DaFont: https://www.dafont.com/coco-bubble.font */
    font-family: cocobubble;
    src: url(../font/CocoBubble-Regular.ttf);
}

/* Navigation bar */
.navigation {
  top: 0px;
  left: 0px; 
  width: 100%;
  /* stick to top of screen */
	position: fixed;
	background-color: var(--background);
  /* appear in front of content */
	z-index: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* Navigation links */
.nav-link {
  text-align: center;
  padding: 10px;
  padding-right: 25px;
  color: var(--midtext);
  font-family: cocobubble, sans-serif;
  font-size: 1.7em;
  display: inline-block;
}

.nav-link:hover {
  color: var(--lightaccent);
  font-family: cocobubble, sans-serif;
  transition-duration: 0.35s;
}

/* ============================ 
          Home section 
   ============================ */

#home {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    
}

/* Container for text */
#home-header-text {
  margin-bottom: 5vh;
}

/* Header: my name */
h1 {
  color: white;
  opacity: 95%;
  font-family: cocobubble, sans-serif;
  font-size: 10em;
  text-shadow: 5px 10px var(--darkaccent);
  display: inline;
  animation: 2s h1-anim ease;
}

/* Animation for my name */
/* Text is initially hidden then appears large and shrinks to size */
@keyframes h1-anim {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
      color: #99B89B;
      font-size: 15em; 
      opacity: 1;
      text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  75% {
    color: var(--bigtext);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Header: job title */
h2 {
  color: white;
  opacity: 80%;
  font-family: cocobubble, sans-serif;
  font-size: 2.5em;
  font-style: italic;
  display: inline;
  animation: 3s h2-anim ease;
}

/* Animation for job */
/* Appears after my name shows up */
@keyframes h2-anim {
  0% {
    color: #ffdef8;
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 0.75;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

/* Header: introduction */
h3 {
  color: white;
  opacity: 80%;
  font-family: cocobubble, sans-serif;
  font-size: 2.5em;
  display: inline;
  animation: 0.5s h2-anim ease;
}

/* Drawing of me */
/* Made by Bree Straker */
#home-image {
  margin-top: 1vh;
  margin-bottom: 1vh;
    max-width: 350px;
    height: auto;
    animation: 4s image-anim ease;
}

/* Container for home links */
#home-header-links {
  margin-top: 5vh;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  animation: 3s h2-anim ease;
}

/* Home link text */
.home-links {
    color: white;
    opacity: 80%;
    font-family: cocobubble, sans-serif;
    font-size: 2.5em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.home-links:hover {
    color: var(--lightaccent);
    transition-duration: 0.5s;
    text-decoration: none;
}

/* ============================ 
          About section 
   ============================ */

/* About container */
#about {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--lightaccent)
}

/* Text container */
#about-header-text {
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    margin-bottom: 150px;
    font-family: Oxygen;
    display: block;
}

/* Skill buttons */
.about-skills {
  margin-top: 20px;
  left: 20px;
}

/* Header: about me */
h4 {
  color: var(--background);
  opacity: 100%;
  font-family: cocobubble, sans-serif;
  font-size: 2.5em;
  display: inline;
  animation: 0.5s h2-anim ease;
}

/* Header: skills */
h5 {
color: var(--background);
opacity: 100%;
font-family: cocobubble, sans-serif;
font-size: 2em;
display: inline;
}

a {
  text-decoration: none;
}
p {
    color: var(--midtext);
    font-size: 1.5em;
}

/* Wavy shape divider */
/* Wave for top of container */
.ocean {
    height: 150px; /* change height of waves  */
    width: 100%;
    position: relative;
    bottom: -0px;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23a1ecba'/%3E%3C/svg%3E");
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  
/* Wave for bottom of container */
.ocean2 {
  height: 150px; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 100px;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23121212'/%3E%3C/svg%3E");
  position: absolute;
  width: 100%;
  height: 100%;
  /* flip upside down: scaleY(-1) */ 
  transform: translate3d(0, 0, 0); 
  opacity: 0;
}

.wave:nth-of-type(1), .wave2:nth-of-type(1) {
  opacity: 1;
}

/* ============================ 
          Projects section 
   ============================ */

/* Projects container */
 #projects {
  background-color: var(--background);
  margin-bottom: 50px;
}

/* Container for text */
#projects-header-text {
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
  text-align: center;
  margin-bottom: auto;
  font-family: sans-serif;
}

/* Using flexbox to make project boxes responive */
.container-fluid {
  margin-top: 50px;
	width: 100%;
} 

/* Project box container */
.single-project {
  width: 400px;
  background-color: rgba(185, 185, 185, 0.8);
  border-radius: 10%;
  height: 475px;
  position: relative;
  margin-bottom: 15px;
} 

/* When hovering over a project box */
.single-project:hover {
  background-color: rgba(129, 129, 129, 0.8);
  transition-duration: 0.35s;
} 

/* Project box content container */
.single-project-content {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
  display: inline-block;
}

/* Project images */
.project-thumbnails {
  margin-top: 25px;
  border-radius: 10%;
} 

/* Project box title */
.caption {
  font-size: 1.8em;
  font-family: cocobubble;
  color: var(--background);
  text-align: left;
}

/* Project box description */
.mini-caption {
  font-family: Oxygen, sans-serif;
  color: var(--background);
  text-align: left;
  font-size: 1.3em;
}

/* "Coming soon" */
.coming-soon-caption {
  font-family: Oxygen, sans-serif;
  color: rgb(131, 5, 5);
  text-align: left;
  font-size: 1.3em;
}

.row {
  margin-bottom: 15px;
}
/* Centre projects and buttons */
.row.project {
  justify-content: center;
}

/* Blur coming soon project */
.blur {
  opacity: 0.70;
  filter: blur(2px); /* Apply a blur effect */
  /* background-color: rgba(255, 255, 255, 0.5); */
}

/* Screen size */
/* Remove animations for mobile screens */
@media only screen and (max-width: 600px) {
  @keyframes h1-anim {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes h2-anim {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

/* Shrink gap between navigation links on mobile screens */
@media only screen and (max-width: 500px) { 
  .nav-link {
    padding-right: 10px;
  }
}

/* When navigation bar becomes double lined, add more space for home content  */
@media only screen and (max-width: 400px) { 
  #home-header-text {
    margin-top: 150px;
  }
  .home-links {
    opacity: 0;
  }
}

/* Increase height of home page */
@media only screen and (max-height: 900px) {
  #home {
    height: 80vh;
  }
}

/* Remove wave dividers */
@media only screen and (max-width: 1300px) and (max-height: 700px) {
  .ocean, .ocean2 {
    display: hidden;
    width: 0px;
    height: 0px;
    opacity: 0;
  }
    
  .wave, .wave2 {
    display: hidden;
    width: 0px;
    height: 0px;
    opacity: 0;
  }
    
  .wave:nth-of-type(1), .wave2:nth-of-type(1) {
    display: hidden;
    width: 0px;
    height: 0px;
    opacity: 0; 
  }

  /* Centre contents of about page */
  #about {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: var(--lightaccent);
  }
  #about-header-text {
      margin-bottom: 5vh;
      margin-left: 20vw;
      margin-right: 20vw;
      text-align: center;
      margin-top: 5vh;
      font-family: sans-serif;
  }
  #projects-header-text {
    margin-bottom: 5vh;
    /* Add space to the top */
    margin-top: 5vh;
  }
}
  
/* Buttons */
/* Using Bootstrap framework buttons */
.btn-dark {
  background-color: var(--background);
  color: var(--midtext);
  font-size: 1.5em;
  border-radius: 10px;
  font-family: Oxygen, sans-serif;
}

.btn-dark:hover {
  background-color: var(--lightaccent);
  color: var(--background);
  font-size: 1.5em;
}

.btn-dark:focus, .btn-dark:active {
  background-color: var(--darkaccent);
  color: var(--background);
  font-size: 1.5em;
}

.btn-outline-dark {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: var(--background);
  border-radius: 10px;
  font-family: Oxygen, sans-serif;
}

.btn-outline-dark:hover {
  background-color: var(--background);
  font-size: 1.5em;
}

.btn-outline-dark:focus, .btn-outline-dark:active {
  background-color: var(--background);
  color: var(--midtext);
  font-size: 1.5em;
}

.skill-buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

/* Emphasise text */
.boldtext {
  color: var(--background);
  font-family: Oxygen, sans-serif;
}


/* ============================ 
          Footer section 
   ============================ */

/* Footer container */
#bottom-bar {
    background-color: var(--background);
    border-top: solid 1px white;
    height: 100px;
    margin-bottom: 5px;
}

/* Container for content */
#bottom-bar-content {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Oxygen, sans-serif;
}

/* Contact links */
a {
  font-family: Oxygen, sans-serif; 
  color: var(--midtext)
}

a:hover {
  text-decoration: none;
  color: var(--lightaccent)
}

/* Emphasise name */
.name-text {
  font-family: cocobubble; 
  color: var(--lightaccent)
}

/* When hovering over name */
.name-text:hover {
  color: var(--darkaccent)
}

/* GitHub, LinkedIn images */
.contacts-images {
	max-width: 10%;
	min-width: 40px;
	height: auto;
	margin: 6px;
}

.contacts-images:hover {
	opacity: 0.5;	
}

.btn-dark {
  pointer-events: none;
}